body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  display: flex;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    220deg,
    #ff4343 0%,
    #ecbd32 31%,
    rgba(140, 66, 66, 0.41) 87%,
    #611c1c 100%
  );
}

.quiez {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  /* From https://css.glass */
  background: rgba(255, 0, 0, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 0, 0, 1);
}

.buttons {
  display: grid;
  row-gap: 3.4rem;
  column-gap: 10rem;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 40%;
  margin-top: 10rem;
}

.btn {
  border: 1px solid gray;
  background: white;
  object-fit: fill;
  width: 19rem;
  height: 4rem;
  cursor: pointer;
}

.btn:hover {
  background: rgba(128, 128, 128, 0.155);
}

.quis {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-correct {
  background: rgba(232, 90, 2, 0.809);
  border: 0px;
}

.btn-wrong {
  background: rgba(255, 0, 0, 0.759);
  border: 0px;
}
